<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN">

    <appenders>
    
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
       
        <RollingFile name="RollingFile" fileName="../logs/titan.log"
                     filePattern="../logs/titan-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>
  
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
       
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="RollingFile"/>
        </root>
        
         <logger name="o.s" level="WARN" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
	
	   	<logger name="org.hibernate" level="WARN" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        
	  	<logger name="org.apache" level="WARN" additivity="false">
            <appender-ref ref="STDOUT"/>
       	</logger>
	
  	   	<logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="STDOUT"/>
       	</logger>
	  
      	<logger name="com.finstone" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="RollingFile"/>
       	</logger>
       
		<logger name="com.fins" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="RollingFile"/>
      	</logger>

	</loggers>
</configuration>